apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
type: Opaque
stringData:
  MONGODB_URI: "mongodb://localhost:27017/carrental"
  PORT: "4000"
  JWT_SECRET: "your-super-secret-jwt-key-at-least-32-characters-long"
  IMAGEKIT_PUBLIC_KEY: "your-imagekit-public-key"
  IMAGEKIT_PRIVATE_KEY: "your-imagekit-private-key"
  IMAGEKIT_URL_ENDPOINT: "your-imagekit-url-endpoint"
